table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 3px;
  height: 25px;
  min-width: 100px;
  font-family: sans-serif;
}

.current-cell {
  background-color: pink
}

.highlight-foot {
  background-color: chartreuse;
}

#formula-bar {
  font-family: sans-serif;
}